.index {
  width: 100%;
  /* background: no-repeat center top;
  background-size: auto 1080px;
  background-image: linear-gradient(to top, #17192b 0%, #17192b 10%, transparent 100%), url('../../assets/image/banner-887x486px.png');*/
  background-color: #17192b;
}
.index > div {
  max-width: 1200px;
  margin: 0 auto;
}
.index > div video {
  padding-top: 30px;
  display: block;
  margin: 0 auto;
  width: 1200px;
  height: 800px;
}
.index > div > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.index > div > div:nth-child(2) > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.index > div > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
  font-family: '阿里包巴惠普体MEDIUM';
  font-size: 30px;
  color: #4d1bc5;
  margin-bottom: 20px;
  margin-top: -150px;
}
.index > div > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > span {
  margin: 0 20px;
}
.index > div > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) {
  font-family: '阿里包巴惠普体MEDIUM';
  font-size: 170px;
  line-height: 100px;
  color: #fff;
}
.index > div > div:nth-child(2) > div:nth-child(1) > div:nth-child(3) {
  font-family: '阿里包巴惠普体MEDIUM';
  font-size: 42px;
  line-height: 32px;
  color: #fff;
  margin-top: 40px;
}
.index > div > div:nth-child(2) > div:nth-child(1) > div:nth-child(4) {
  font-family: '阿里包巴惠普体MEDIUM';
  font-size: 16px;
  margin-top: 10px;
  color: #fff;
}
.index > div > div:nth-child(2) > div:nth-child(2) {
  position: relative;
  width: 330px;
  height: 420px;
  border-radius: 25px;
  cursor: pointer;
}
.index > div > div:nth-child(2) > div:nth-child(2):hover {
  box-shadow: 0 10px 85px #4f64ec;
}
.index > div > div:nth-child(2) > div:nth-child(2) img {
  width: 330px;
  height: 400px;
  border-radius: 25px;
  display: inline-block;
}
.index > div > div:nth-child(2) > div:nth-child(2) > div {
  font-size: 14px;
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 100%;
  color: #fff;
  margin-left: 14px;
  max-width: 80%;
  word-break: break-all;
  font-family: '阿里包巴惠普体LIGHT';
}
.index > div .digtal {
  color: #fff;
}
.index > div .digtal h2 {
  font-family: '阿里包巴惠普体MEDIUM';
  font-size: 36px;
  margin-top: 120px;
  margin-bottom: 26px;
}
.index > div .digtal > div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.index > div .digtal > div .item {
  cursor: pointer;
  border-radius: 20px;
  background-color: #212338;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 10px 20px;
  flex-direction: column;
  text-align: center;
}
.index > div .digtal > div .item img {
  padding: 28px 0 10px 0;
  width: 250px;
  height: 326px;
}
.index > div .digtal > div .item > div {
  margin: 0 16px;
  font-size: 18px;
  font-family: '阿里包巴惠普体BOLD';
  text-transform: uppercase;
}
.index > div .seeallthe {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 840px;
  height: 50px;
  margin-top: 32px;
  margin-bottom: 120px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
}
.index > div .seeallthe:hover {
  background-color: #fff;
  color: #17192b;
}
.index > div .guangdong {
  display: flex;
  align-items: center;
  margin-bottom: 26px;
  margin-top: 106px;
}
.index > div .guangdong img {
  width: 22px;
  height: 80px;
  margin-right: 20px;
}
.index > div .guangdong .text {
  color: #fff;
  font-size: 25px;
  line-height: 30px;
  height: 80px;
  font-family: '阿里包巴惠普体MEDIUM';
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.index > div .moment {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.index > div .moment .item {
  cursor: pointer;
  width: 380px;
  height: 510px;
  color: #fff;
  text-align: center;
  background-color: #212338;
  border-radius: 20px;
}
.index > div .moment .item img {
  width: 350px;
  height: 450px;
}
.index > div .moment .item > div:nth-child(2) {
  margin-top: 5px;
  font-size: 24px;
  font-family: '阿里包巴惠普体BOLD';
}
.index > div .coself {
  margin-top: 200px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  background: url('../../assets/image/banner-887x486px.png') no-repeat right;
}
.index > div .coself > div:nth-child(1) {
  padding-top: 10px;
  padding-bottom: 84px;
  margin-bottom: 200px;
}
.index > div .coself > div:nth-child(1) h1 {
  font-size: 110px;
  font-family: 'valky-light';
}
.index > div .coself > div:nth-child(1) > div:nth-child(2) p {
  font-family: '阿里包巴惠普体Regular';
  font-size: 50px;
}
.index > div .coself > div:nth-child(1) .button {
  cursor: pointer;
  margin-top: 60px;
  width: 380px;
  height: 60px;
  border-radius: 60px;
  line-height: 60px;
  border: 1px solid #fff;
  font-size: 26px;
  font-weight: 300;
  text-align: center;
}
.index > div .coself > div:nth-child(1) .button:hover {
  background-color: #fff;
  color: #17192b;
}
