.series {
  background: linear-gradient(180deg, #030308 0%, #18192a 50%, #18192a 100%);
  background-size: cover;
  width: 100%;
}
.series > img {
  display: block;
  width: 1200px;
  height: 140px;
  margin: 0 auto;
  padding-top: 120px;
}
.series iframe {
  display: block;
  margin: 0 auto;
  width: 1200px;
  height: 800px;
}
.series .metavers {
  height: 1265px;
  background: url(../../assets/image/59755c3c370b093d579b7f993bd1588.png) no-repeat right;
  background-size: 838px auto;
  color: #fff;
}
.series .metavers > div:nth-child(1) {
  max-width: 1200px;
  margin: 0 auto;
}
.series .metavers > div:nth-child(1) > h1 {
  font-size: 160px;
  font-family: 'valky-light';
}
.series .metavers > div:nth-child(1) h2 {
  font-size: 60px;
  font-family: '阿里包巴惠普体BOLD';
  margin-bottom: 52px;
}
.series .metavers > div:nth-child(1) > p {
  height: 400px;
  width: 1000px;
  font-size: 20px;
  text-transform: uppercase;
  text-indent: 2em;
  line-height: 40px;
}
.series .box {
  background: url(../../assets/image/848500ec3bc89f078c2515342cf6236.png) no-repeat;
  background-blend-mode: multiply;
  background-size: 100% auto;
  min-height: 1200px;
}
.series .box > div {
  margin: 0 auto;
  width: 1200px;
  color: #fff;
  text-transform: uppercase;
}
.series .box > div > h1 {
  font-size: 160px;
  font-family: 'valky-light';
}
.series .box > div > h2 {
  font-size: 40px;
  font-family: '阿里包巴惠普体BOLD';
}
.series .box > div > div > div {
  display: flex;
  justify-content: space-between;
  align-items: end;
  cursor: pointer;
}
.series .box > div > div > img {
  margin-top: 80px;
}
.series .news {
  width: 1200px;
  margin: 0 auto;
}
.series .news div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding-top: 30px;
}
.series .news div:nth-child(1) > div {
  background-color: #212338;
  border-radius: 20px;
}
.series .news div:nth-child(1) > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 46%;
  padding: 30px;
}
.series .news div:nth-child(1) > div:nth-child(1) > img {
  margin-top: 30px;
}
.series .news div:nth-child(1) > div:nth-child(1) > div {
  height: 60px;
  width: 100%;
  line-height: 63px;
  text-align: center;
  font-size: 26px;
}
.series .news div:nth-child(1) > div:nth-child(1) video {
  height: 100%;
  width: 100%;
  border-radius: 30px;
}
.series .news div:nth-child(1) > div:nth-child(2) {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 42%;
  padding: 30px;
}
.series .news div:nth-child(1) > div:nth-child(2) > div {
  display: flex;
  font-size: 30px;
  font-family: '阿里包巴惠普体BOLD';
  margin-top: 20px;
}
.series .news div:nth-child(1) > div:nth-child(2) span {
  font-size: 20px;
  line-height: 35px;
  text-indent: 2em;
}
.series .fall {
  cursor: pointer;
  color: #fff;
  width: 1200px;
  margin: 0 auto;
}
.series .fall > div:nth-child(1) {
  margin-top: 100px;
  font-size: 36px;
  margin-bottom: 26px;
  font-family: '阿里包巴惠普体MEDIUM';
}
.series .fall > div:nth-child(2) {
  width: 100%;
  height: 380px;
  display: flex;
  background-color: #21233a;
  border-radius: 30px;
}
.series .fall > div:nth-child(2) > div {
  width: 580px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 40px;
}
.series .fall > div:nth-child(2) > div h2 {
  margin-top: 40px;
  margin-bottom: 48px;
  font-size: 36px;
  font-family: '阿里包巴惠普体BOLD';
}
.series .fall > div:nth-child(2) > div p {
  padding: 0 22px;
  font-size: 20px;
  font-family: '阿里包巴惠普体LIGHT';
}
.series .fall > div:nth-child(2) > div span {
  font-size: 12px;
  position: absolute;
  bottom: 0;
}
.series .joint {
  width: 1200px;
  margin: 0 auto;
  padding-top: 274px;
  color: #fff;
  padding-bottom: 100px;
}
.series .joint > div:nth-child(1) {
  font-size: 60px;
  font-family: '阿里包巴惠普体BOLD';
}
.series .joint > div:nth-child(2) {
  font-size: 124px;
  font-family: 'valky-light';
  text-transform: uppercase;
}
.series .joint > div:nth-child(3) {
  color: #fff;
}
.series .joint > div:nth-child(3) > div {
  padding: 104px 0;
  box-sizing: border-box;
  width: 100%;
  height: 500px;
  border-radius: 20px;
  background-color: #212338;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.series .joint > div:nth-child(3) > div > div:nth-child(1) {
  height: 293px;
  width: 375px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.series .joint > div:nth-child(3) > div > div:nth-child(2) {
  width: 826px;
}
.series .joint > div:nth-child(3) > div > div:nth-child(2) > img {
  padding: 10px;
}
.series .joint > div:nth-child(3) > div:nth-child(1) {
  font-size: 60px;
  font-family: '阿里包巴惠普体BOLD';
}
.series .joint > div:nth-child(3) > div:nth-child(2) {
  font-size: 40px;
  font-family: '阿里包巴惠普体BOLD';
}
.series .joint > div:nth-child(3) > div:nth-child(3) {
  font-size: 60px;
  font-family: '阿里包巴惠普体BOLD';
  display: flex;
}
.series .joint > div:nth-child(3) > div:nth-child(3) > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.series .joint > div:nth-child(3) > div:nth-child(3) > div:nth-child(2) > img {
  cursor: pointer;
  width: 299px;
  margin-right: 17px;
}
.series .joint > div:nth-child(3) > div:nth-child(3) > div:nth-child(2) div {
  display: flex;
  flex-wrap: wrap;
}
.series .joint > div:nth-child(3) > div:nth-child(3) > div:nth-child(2) div img {
  padding: 5px;
}
